/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav li {
    display: inline-block;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
  }

  .currentLink{
    border-bottom: #b5ce2a;
    border-width: 15px;
    
  }

  .active {
    text-decoration: underline;
  }